html {
    font-family: Arial, FreeSans, sans-serif;
}

body {
    width: 1050px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, FreeSans, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 1em;
}

/* Default button style */

/* Default select style */
select {
    vertical-align: middle;
    font-size: 11px;
}

/* Default select style */
option {
    font-size: 11px;
}

/* Default legend style */
legend {
    background: none;
}

/* Default anchor style */
a {
    color: #21558f;
    text-decoration: none;
}

/* Default paragraph style */
p {
    line-height: 150%;
    letter-spacing: 0.02em;
}

/* table override as plone's public.css @media=screen makes border-spacing=0 */
table {
    border-collapse: separate;
    border-spacing: 2px;
}

#personal_pane {
    background-color:#363636;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding-left: 4em;
    padding-top: 5px;
    padding-bottom: 5px;
}

#personal_pane td {
    color: white;
    font-size: 12px;
    font-weight: bold;
}

#personal_pane input {
    border-style: hidden;
    height: 22px;
    width: 120px;
    font-style: italic;
    color:#363636;
    padding-top: 3px;
    padding-left: 3px;
}

#personal_pane button {
    border-style: hidden;
    background-color:#363636;
    height: 22px;
}
#personal_pane a {
    color: white;
    font-size: 11px;
    text-decoration: underline;
}
#personaltools {
    padding: 0.5em;
}
#personaltools a {
    margin-left: 2em; 
}

#login_form {
    padding: 0;
    margin: 0;
}

#login_form td {
    padding: 0px 4px 0px 4px;
}

#login_form input {
    margin: 0px 0px 0px 4px;
}

#actions_pane {
    height: 100px;
    padding-left: 3em;
}

#actions_pane_home_page {
    height: 300px;
    padding-left: 3em;
}

#tarmii_definition td {
    font-size: 0.8em;
    color: #333333;
}

#menu img {
    border-style: hidden; 
}

ul.menu {
    height: 50px;
    width: 600px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    display: block;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.menu li {
    list-style: none;
    float: left;
    display: inline;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color:#363636;
}

.menu a {
    list-style: none;
    float: left;
    display: inline;
    text-decoration: none;
    margin: 0;
    padding-left: 15px;
    padding-top: 25px;
    font-size: 14px;
    font-weight: normal;
    color:#363636;
}

#menu {
    float: left;
    width: 50%;
}

#books {
    margin-top: 55px;
    float: right;
}

#context_image {
    float: right;
    margin-right: 10em;
}

#portal-content {
    vertical-align: top;
    border-collapse: collapse;
    padding: 1.5em 1em 0 1em;
    margin: 0em 0em 2em 0em;
}

#overview {
    float: left;
    width: 50%;
    color:#363636;
    font-size: 11px;
    font-weight: normal;
}

#overview p {
    padding-left: 4px;
    margin-top: 1em;
    margin-bottom: 1em;
}

#overview h3 {
    padding-left: 4px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}

#overview img {
    border-style: hidden;
}

#footer_pane {
    background:#d2d2d2 url(../images/footer_gradient.png) repeat-x;
    height: 50px;
    font-size: 11px;
    font-weight: bold;
    color:#6b6b6b;
    padding-left: 3em;
}

div#content {
    background: white url(../images/content_gradient.png) repeat-x;
    font-size: 80%;
    font-weight: normal;
    color:#333333;
    min-height: 400px;
    padding: 2em 3em 0 3em;
}


.content_pane_outer_table {
    margin-top: 3em;
    width: 100%;
}

.content_pane_outer_table img {
    border-style: hidden;
}

.content_pane_outer_table a {
    text-decoration: none;
    color:#333333;
}

#content_pane h3 {
    font-size: 16px;
}

#content_pane img {
    border-style: hidden;
}


#content ul.list {
    margin: 1em 0.5em;
}
#content ul.list li {
    list-style: none;
}

ul.footer_list {
    display: block;
    list-style-type: none;
    float: left;
    width: 640px;
    margin-top: 20px;
}

.footer_list li a {
    display: inline;
    list-style: none;
    float: left;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    font-size: 11px;
    font-weight: bold;
    border-right: 1px solid;
    color:#6b6b6b;
}

/* XXX only for development to show which footer links still need to be 
   brought in from plone into the theme - take out when done (in theme also) */
.footer_list li a.tempgrey {
    color: #bbb;
}

#footer_list_last {
    border-right: 0px;
}

#rights {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}

